@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

$hoofdkleur: #2859BC;
$hoofdkleur-lichter: #4F82FF;
$secundaire-kleur: #81d742;
$secundaire-kleur-donker: #48592D;
$contrast-kleur: #FF652A;
$achtergrond-donkerder: #cccccc;

$mijnFont: 'Montserrat', sans-serif;
