/* Knoppen */

.knop
  background-color: $secundaire-kleur
  color: $secundaire-donker
  font-size: 1.1em
  padding: .5em 2em
  &:hover
    background-color: $secundaire-donker
    color: #fff
  &-houder
    text-align: center
    padding: 1em 0 1.5em
    border-bottom: 1px solid $secundaire-donker
